.MenuCommon{
  float: right;
  margin-right: 100px;
  font-size: 16px;
  height: 80px;
  background-color:#fff;
}
.MenuItem{
    text-align: center;
    height: 80px;
    min-width: 72px;
    line-height:80px;
}
